DATABASE_URL="postgresql://username:password@localhost:5432/sirkecilokantas"
NEXTAUTH_SECRET="your-secret-key-here-change-this-in-production"
NEXTAUTH_URL="https://sirkecilokantasi1912.masadamenu.com.tr"
